{% extends 'base.html' %}
{% block title %}{{super()}}-Index{% endblock %}
{% block content %}
<body>
<div class="jumbotron">
  <h1>Bem-Vindo ao Herói Social!</h1>
  <p class="lead">Falta pôr mais informações!</p>
  <p><a class="btn btn-lg btn-success" href="login" role="button">Logar</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Falta pôr mais informações!</h4>
    <p>Falta pôr mais informações!</p>

    <h4>Falta pôr mais informações!</h4>
    <p>Falta pôr mais informações!</p>

    <h4>Falta pôr mais informações!</h4>
    <p>Falta pôr mais informações!</p>
  </div>

  <div class="col-lg-6">
    <h4>Falta pôr mais informações!</h4>
    <p>Falta pôr mais informações!</p>

    <h4>Falta pôr mais informações!</h4>
    <p>Falta pôr mais informações!</p>

    <h4>Falta pôr mais informações!</h4>
    <p>Falta pôr mais informações!</p>

  </div>
</div>
</body>
{% endblock %}
