<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}{{super()}}-Mapa{% endblock %}
{% block content %}
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

    var teste = {{coordenadas}};
    var ruasLimpas =[];

    var ruasSujas = [
                  {% for item in ruas %}
                    "{{ item }}",
                  {% endfor %}
                   ];


    for(var i = 0; i < ruasSujas.length; i++){
                rua = ruasSujas[i].replace('(', '');
                rua = rua.replace(')', '');
                rua = rua.replace("&#39;", '');
                rua = rua.replace("&#39;", '');

                //console.log(rua);

                ruasLimpas.push(rua)
    };
    //console.log(ruasLimpas);

    var dados = [
          ["Lat","Long", "Name"]
        ];

    for(var i = 0; i < teste.length; i++){
                teste[i].push(ruasLimpas[i]);
                dados.push(teste[i]);

    };

    //console.log(dados);

      google.charts.load("current", {
        "packages":["map"],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        "mapsApiKey": "AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY"
    });

      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(dados);
        //var data = google.visualization.arrayToDataTable({{set}});

        var map = new google.visualization.Map(document.getElementById('map_div'));
        map.draw(data, {
          showTooltip: true,
          showInfoWindow: true
        });
      }


    </script>
</head>
<center>
    <h1>{{ title }}</h1>
    <body>
    <div id="map_div" style="width: 400px; height: 300px"></div>
    </body>
</center>
</html>
{% endblock %}
