{% extends 'base.html' %}
{% block title %}{{super()}}-Relatorio de Acidentes{% endblock %}
{% block content %}
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" href="\static\css\style5.css">
</head>

<body>
<h2>Relatório de Acidentes</h2>
<br>
<form class="form-inline" method="POST" action="{{ url_for('relatorio_acidentes') }}">
    <div class="jumbotron">
        <h2>Buscar por: </h2>
        <br>
        <div class="input-group">
            <h6>Buscar por ano:</h6>
            <span class="input-group-addon"></span>
            <select name="comp_select_ano" class="selectpicker form-control">
                <option value=""></option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
            </select>
        </div>
        <div class="input-group">
            <h6>Buscar por mês:</h6>
            <span class="input-group-addon"></span>
            <select name="comp_select_mes" class="selectpicker form-control">
                <option value=""></option>
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
        <div class="input-group">
            <h6>Buscar por bairro:</h6>
            <span class="input-group-addon"></span>
            <select name="comp_select_bairro" class="selectpicker form-control">
                <option value="AFLITOS">Aflitos</option>
                <option value="AFOGADOS">Afogados</option>
                <option value="BAIRRO DO RECIFE">Bairro do Recife</option>
                <option value="BOA VISTA">Boa Vista</option>
                <option value="CASA AMARELA">Casa Amarela</option>
                <option value="CASA FORTE">Casa Forte</option>
                <option value="CORDEIRO">Cordeiro</option>
                <option value="DERBY">Derby</option>
                <option value="DOIS UNIDOS">Dois Unidos</option>
                <option value="ENCRUZILHADA">Encruzilhada</option>
                <option value="ESPINHEIRO">Espinheiro</option>
                <option value="GRAÇAS">Graças</option>
                <option value="ILHA DO LEIRE">Ilha do Leite</option>
                <option value="ILHA DO RETIRO">Ilha do Retiro</option>
                <option value="IPUTINGA">Iputinga</option>
                <option value="MADALENA">Madalena</option>
                <option value="PARNAMIRIM">Parnamirim</option>
                <option value="PINA">Pina</option>
                <option value="SANTO AMARO">Santo Amaro</option>
                <option value="SANTO ANTÔNIO">Santo Antônio</option>
                <option value="SÃO JOSÉ">São José</option>
                <option value="SOLEDADE">Soledade</option>
                <option value="TORRE">Torre</option>
            </select>
        </div>
        <div class="input-group">
            <h6>Buscar por quantidade de vítimas:</h6>
            <span class="input-group-addon"></span>
            <select name="comp_select_qtd_vitimas" class="selectpicker form-control">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Buscar</button>
        <br>
        <br>
        <div class="jumbotron">
            <h3>
                <center>Relatório baseado nos dados selecionados acima.:</center>
            </h3>
            <br>
            <h6>Total de acidentes com vítimas: </h6>
            <br>
            <font color="00FF00">{{totalDeAcidentes}}.</font>
            <br>
            <h5>Tipo de envolvidos:</h5>
            <br>
            <h6>Automóvel: </h6>
            <h6>Pedestre: </h6>
            <h6>Ciclomotor: </h6>
            <h6>Ciclista: </h6>
            <h6>Motocicleta: </h6>
            <h6>Outros: </h6>
            <br>
            <h5>Tipo de ocorrência:</h5>
            <br>
            <h6>Colisão/choque: </h6>
            <h6>Colisão com ciclista: </h6>
            <h6>Atropelamento: </h6>
            <h6>Acidente de percurso: </h6>
            <br>
            <h5>Ranking dos bairros com mais riscos de acidentes:</h5>
            <br>
            <h6>1. Grupo 1 (risco mais alto): </h6>
            <h6>Espinheiro: </h6>
            <h6>Casa Forte: </h6>
            <h6>Cordeiro: </h6>
            <br>
            <h6>2. Grupo 2: </h6>
            <h6>Madalena: </h6>
            <h6>Torre: </h6>
            <h6>Casa Amarela: </h6>
            <br>
            <h6>3. Grupo 3: </h6>
            <h6>Encruzilhada: </h6>
            <h6>Graças: </h6>
            <h6>Santo Amaro: </h6>
            <br>
            <h6>4. Grupo 4 (risco mais baixo): </h6>
            <h6>Boa Viagem: </h6>
            <h6>Pina: </h6>
            <h6>Aflitos: </h6>
            <h6>Rosarinho: </h6>
        </div>
    </div>

</form>


</body>
<!-- http://www.devfuria.com.br/html-css/formularios/combobox/ -->
{% endblock %}
