<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}{{super()}}-Index{% endblock %}
{% block content %}
<body>
<!--{% if current_user.is_authenticated %}
    {% with msg = get_flashed_messages(with_categories=false) %}
        {%- for i in msg %}
            {% if i == "Welcome" %}
                <div class="alert alert-success alert-dismissible fade show" id="success-alert">
                    <p><b>Usuário logado com sucesso!</b></p>
                    <button class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
        {% endfor -%}
    {% endwith %}
{% endif %}-->

<div class="jumbotron">
    <h1>Bem-Vindo ao Herói Social!</h1>
    <p class="lead">Falta pôr mais informações!</p>
    {% if current_user.is_authenticated == false %}
    <p><a class="btn btn-lg btn-success" href="login" role="button">Entrar</a></p>
    <p><a class="btn btn-lg btn-success" href="cadastro" role="button">Cadastre-se</a></p>
    {% endif %}

</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Falta pôr mais informações!</h4>
        <p>Falta pôr mais informações!</p>

        <h4>Falta pôr mais informações!</h4>
        <p>Falta pôr mais informações!</p>

        <h4>Falta pôr mais informações!</h4>
        <p>Falta pôr mais informações!</p>
    </div>

    <div class="col-lg-6">
        <h4>Falta pôr mais informações!</h4>
        <p>Falta pôr mais informações!</p>

        <h4>Falta pôr mais informações!</h4>
        <p>Falta pôr mais informações!</p>

        <h4>Falta pôr mais informações!</h4>
        <p>Falta pôr mais informações!</p>

    </div>
</div>
</body>
</html>
{% endblock %}
